#navBar {
    display: flex;
    width: 100%;
    height: 100px;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    margin: auto;
}

.navbar a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
}

.liCard {
    list-style: none;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

.ulTasks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.headerCard {
    margin: 0%;
}

.bodyCard {
    margin: 0%;
}

#menu {
    display: none;
    display: flex;
}

#tasksList {
    display: flex;
}

#radioCor {
    padding: 10px;
}

.textoDescricao {
    padding: 10px;
}

.btnCor {
    height: 20px;
    width: 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
}