.open-sans-semi-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.navbar a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
}

.liCard {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

.ulTasks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.doneText {
    margin: 0%;
    text-decoration: line-through;
    padding: 10px;
    font-size: 20px;
}

.todoText {
    flex-grow: 1;
    margin: 0%;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;

}

.doneHeader {
    margin: 0%;
    text-decoration: none;
    background-color: #b8ffa3;
    padding: 10px;
}

.doneHeader label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: #2b5a07;
    padding: 10px;
}

.todoHeader {
    background-color: #ffa4a3;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    padding: 10px;
}

.todoHeader label {
    color: #e42c28;
    padding: 10px;
}

.radioCor {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
    appearance: none;
    border-radius: 0;
}

.radioCor:checked {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

#Azul {
    background-color: #daf5fa;
}

#Verde {
    background-color: #d1fecb;
}

#Rosa {
    background-color: #f6d0f6;
}

#Roxo {
    background-color: #dcd0f3;
}

#Amarelo {
    background-color: #fcfccb;
}

#Laranja {
    background-color: #fbd4b4;
}

#Branco {
    background-color: #ffff;
}

#navBar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    margin: auto;
}

#cardHeader{
    display: flex;
    padding: 0%;
    padding-left: 5px;
    align-items: center;
}

#cardHeader label{
    margin: 0%;
    padding: 5px;
}

#archiveButton{
    height: min-content;
    width: min-content;
}

#cardButtons{
    display: flex;
    padding: 5px;
    justify-content: end;
    align-content: center;
}
